/* Contenedor principal para centrar */
.contenedor-form {
    display: flex;
    justify-content: center;  /* Centra horizontalmente */
    align-items: center;  /* Centra verticalmente */
    height: 100vh;  /* Usa el 100% de la altura de la pantalla */
}