h1 {
    color: #2C9494;
    text-align: center;
    margin-bottom: 10px;
}
h2 {
    color: #4A4A4A;
    text-align: center;
    margin-bottom: 20px; 
}
.contenedor {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Alinea verticalmente */
    gap: 10px; /* Ajusta la separación entre select y botón */
}

select, button {
    padding: 10px 15px; /* Mismo padding */
    font-size: 14px; /* Mismo tamaño de fuente */
    width: 150px; /* Mismo ancho */
    height: 40px; /* Misma altura */
}

select {
    border: 1px solid #ccc; /* Opcional, para que se vea mejor */
    border-radius: 5px;
}

button {
    background-color: #2a7a7a;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #2C9494;
}

#resultados {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.tarjeta {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.tarjeta:hover {
    transform: translateY(-10px); /* Mueve la tarjeta hacia arriba */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
}

.tarjeta h3 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #2C9494;
    text-align: center;
}
.tarjeta h2 {
    font-size: 15px;
    margin-bottom: 5px;
    color: #000000;
    text-align: left;
}

.tarjeta p {
    font-size: 14px;
    color: #555;
    text-align: center;
}
.estado{
    font-size: 14px;
    color: #555;
    text-align: left;
}

.usuario {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.usuario img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.fecha {
    font-size: 12px;
    color: gray;
}