<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Quejas</title>
    <link rel="stylesheet" th:href="@{/css/header_footer.css(v=${#dates.createNow().getTime()})}">
    <link rel="stylesheet" th:href="@{/css/quejasPorEmpresa.css}">
</head>
<body>
    <!-- Header -->
    <header>
        <div class="logo">
          <img src="https://i.postimg.cc/4NzHq4j1/logo.png" alt="Logo">
        </div>
        <nav>
          <a th:href="@{/index}">Inicio</a>
          <a th:href="@{/servicio}">Empresas</a>
          <a th:href="@{/portalUsuario}">Iniciar sesión</a>
        </nav>
    </header>
    
    <h1>Lista de Respuestas</h1>

    <main>
        <div class="table-container">
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Fecha</th>
                        <th>Descripción</th>
                        <th>Empresa</th>
                        <th>Queja</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="respuesta : ${respuestas}">
                        <td th:text="${respuesta.id}"></td>
                        <td th:text="${#dates.format(respuesta.fecha, 'dd/MM/yyyy HH:mm')}"></td>
                        <td th:text="${respuesta.descripcion}"></td>
                        <td th:text="${respuesta.empresa.nombre}"></td>
                        <td th:text="${respuesta.queja.id}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a th:href="@{/portalAdministrador}" class="btn-volver">Volver al Portal Administrador</a>
    </main>

    <!-- Footer -->
    <footer>
        <div class="footer-content">
            <div class="logo-footer">
                <img src="https://i.postimg.cc/4NzHq4j1/logo.png" alt="Logo">
            </div>
            <div class="social-icons">
                <a href="#" target="_blank">
                    <img src="https://i.postimg.cc/nhJBh9q5/github.png" alt="GitHub">
                </a>
                <a href="#" target="_blank">
                    <img src="https://images.vexels.com/media/users/3/137380/isolated/preview/1b2ca367caa7eff8b45c09ec09b44c16-logotipo-de-icono-de-instagram.png" alt="Instagram">
                </a>
                <a href="#" target="_blank">
                    <img src="https://images.vexels.com/media/users/3/137253/isolated/preview/90dd9f12fdd1eefb8c8976903944c026-logotipo-de-icono-de-facebook.png?w=360" alt="Facebook">
                </a>
            </div>
        </div>
    </footer>

    <!-- Importar el script -->
    <script th:src="@{/js/mensajeExito.js}"></script>
</body>
</html>
