<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Servicio</title>
        <link rel="stylesheet" href="../static/css/header_footer.css">
        <link rel="stylesheet" href="../static/css/servicio.css">
    </head>
<body>
    <!-- Header con logo y barra de navegación -->
    <header>
        <div class="logo">
            <img src="../static/images/logo.png" alt="Logo">
        </div>
        <nav>
            <a href="index.html">Inicio</a>
            <a href="servicio.html">Empresas</a>
            <a href="portalUsuario.html">Portal Usuario</a>
            <a href="portalEmpresa.html">Portal Empresa</a>
            <a href="portalAdministrador.html">Portal Administrador</a>
        </nav>
    </header>

    <!-- Footer -->
    <footer>
        <div class="footer-content">
            <div class="logo-footer">
                <img src="../static/images/logo.png" alt="Logo">
            </div>
            <div class="social-icons">
                <a href="#" target="_blank">
                    <img src="../static/images/github.png" alt="GitHub">
                </a>
                <a href="#" target="_blank">
                    <img src="../static/images/instagram.png" alt="Instagram">
                </a>
                <a href="#" target="_blank">
                    <img src="../static/images/facebook.png" alt="Facebook">
                </a>
            </div>
        </div>
    </footer>

</body>
</html>
