<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Quejas</title>
    <link rel="stylesheet" th:href="@{/css/header_footer.css(v=${#dates.createNow().getTime()})}">
    <link rel="stylesheet" th:href="@{/css/quejasPorEmpresa.css(v=${#dates.createNow().getTime()})}">
</head>
<body>
    <!-- Header con logo y barra de navegación -->
    <header>
        <div class="logo">
            <img src="https://i.postimg.cc/4NzHq4j1/logo.png" alt="Logo">
        </div>
        <nav>
            <a th:href="@{/index}">Inicio</a>
            <a th:href="@{/servicio}">Empresas</a>
            <a th:href="@{/portalUsuario}">Iniciar sesión</a>
        </nav>
    </header>

    <h1>Quejas Registradas</h1>

    <!-- Contenedor de la tabla para centrarla -->
    <div class="table-container">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Descripción</th>
                    <th>Fecha</th>
                    <th>Acción</th> <!-- Nueva columna -->
                </tr>
            </thead>
            <tbody>
                <!-- Itera sobre la lista de quejas y las muestra -->
                <tr th:each="queja : ${quejas}">
                    <td th:text="${queja.id}"></td>
                    <td th:text="${queja.descripcion}"></td>
                    <td th:text="${queja.fecha}"></td>
                    <td>
                        <a th:href="@{/respuestas/registrar(idQueja=${queja.id})}" class="btn-accion">
                            Agregar Respuesta
                        </a>
                    </td>
                    
                    
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Botón de volver -->
    <a href="/portalEmpresa" class="btn-volver">Volver al portal de la Empresa</a>

    <!-- Footer -->
    <footer>
        <div class="footer-content">
            <div class="logo-footer">
                <img src="https://i.postimg.cc/4NzHq4j1/logo.png" alt="Logo">
            </div>
            <div class="social-icons">
                <a href="#" target="_blank">
                    <img src="https://i.postimg.cc/nhJBh9q5/github.png" alt="GitHub">
                </a>
                <a href="#" target="_blank">
                    <img src="https://images.vexels.com/media/users/3/137380/isolated/preview/1b2ca367caa7eff8b45c09ec09b44c16-logotipo-de-icono-de-instagram.png" alt="Instagram">
                </a>
                <a href="#" target="_blank">
                    <img src="https://images.vexels.com/media/users/3/137253/isolated/preview/90dd9f12fdd1eefb8c8976903944c026-logotipo-de-icono-de-facebook.png?w=360" alt="Facebook">
                </a>
            </div>
        </div>
    </footer>
</body>
</html>
