<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Quejas</title>
    <link rel="stylesheet" th:href="@{/css/header_footer.css(v=${#dates.createNow().getTime()})}">
    <link rel="stylesheet" th:href="@{/css/quejasPorEmpresa.css(v=${#dates.createNow().getTime()})}">
</head>
<body>
    <!-- Header con logo y barra de navegación -->
    <header>
        <div class="logo">
            <img src="https://i.postimg.cc/4NzHq4j1/logo.png" alt="Logo">
        </div>
        <nav>
            <a th:href="@{/index}">Inicio</a>
            <a th:href="@{/servicio}">Empresas</a>
        
            <!-- Mostrar "Cerrar sesión" si hay un usuario, empresa o entidad en sesión -->
            <a th:if="${session.empresaId != null or session.entidadId != null or session.usuarioLogueado != null}" 
               th:href="@{/logout}">Cerrar sesión</a>
        
            <!-- Mostrar "Iniciar sesión" si NO hay usuario autenticado -->
            <a th:unless="${session.empresaId != null or session.entidadId != null or session.usuarioLogueado != null}" 
               th:href="@{/portalUsuario}">Iniciar sesión</a>
        </nav>
    </header>

    <h1>Incumplimientos registrados de la empresa 
        <span th:if="${empresa != null}" th:text="${empresa.nombre}"></span>
    </h1>
    <!-- Contenedor de la tabla para centrarla -->
    <div class="table-container">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="incumplimiento : ${incumplimientos}">
                    <td th:text="${incumplimiento.id}"></td>
                    <td th:text="${incumplimiento.descripcion}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Botón de volver -->
    <a href="/portalEmpresa" class="btn-volver">Volver al portal de la Empresa</a>

    <!-- Footer -->
    <footer>
        <div class="footer-content">
            <div class="logo-footer">
                <img src="https://i.postimg.cc/4NzHq4j1/logo.png" alt="Logo">
            </div>
            <div class="social-icons">
                <a href="#" target="_blank">
                    <img src="https://i.postimg.cc/nhJBh9q5/github.png" alt="GitHub">
                </a>
                <a href="#" target="_blank">
                    <img src="https://images.vexels.com/media/users/3/137380/isolated/preview/1b2ca367caa7eff8b45c09ec09b44c16-logotipo-de-icono-de-instagram.png" alt="Instagram">
                </a>
                <a href="#" target="_blank">
                    <img src="https://images.vexels.com/media/users/3/137253/isolated/preview/90dd9f12fdd1eefb8c8976903944c026-logotipo-de-icono-de-facebook.png?w=360" alt="Facebook">
                </a>
            </div>
        </div>
    </footer>
</body>
</html>